# Eclipse
*.bak
*.launch
*.swp
*.tmp
.classpath
.loadpath
.metadata
.project
.settings
eclipse
bin
tmp

# gedit
*.*~

# netbeans
nbbuild
build.xml
nb-build.xml
nbproject

# gradle
output
.gradle
build
lib