## General stuff to keep the repo clean
dist
download
gradle/
gradlew
lib/
natives/
output/
._*
.cache
.DS_Store
*.bat
*.class
*.log
*.py
*.sh
*.txt
*.xml

## gradle
/.gradle
/build
/eclipse

## ForgeGradle
/run
/out

## sublime
*.sublime*

## idea
/.idea
*.iml
*.ipr
*.iws

## eclipse
/.settings
/.metadata
/.classpath
/.project
/bin

## netbeans
.nb*
nbbuild/
nbproject/

## minecraft
/config/
/mods/
/saves/
/logs/
/crash-reports/
/screenshots/
